<header class="navbar">
  <div class="logo">Shalom Restaurant</div>
  <nav>
    <ul>
      <li><a (click)="showContact = !showContact" >About</a></li>
      
    </ul>
    <div *ngIf="showContact" class="contact-box">
  <h3>Contact Details</h3>
  <p><strong>Chief Organiser:</strong> Praveen </p>
  <p><strong>Email:</strong> johnnaveen719@gmail.com</p>
  <p><strong>Phone:</strong> +91-8328171621</p>
  <button (click)="showContact = false">Close</button>
</div>
  </nav>
</header>

<section class="hero">
  <div class="hero-text">
    <h1>It's Not Just Food,<br />It's an Experience</h1>
    <p>Shalom Restaurant maintains high quality,
     offering great taste with a commitment to excellence.
       </p>

    <button routerLink="/menu" class="explore-button">Explore Menu</button>
  </div>
  <div class="carousel-container">
  <div class="carousel" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
    <div class="carousel-item" *ngFor="let image of images">
      <img [src]="image" alt="Slide" />
    </div>
  </div>

  <!-- Dots below the carousel -->
  <div class="dots">
    <span 
      *ngFor="let img of images; let i = index"
      [class.active]="i === currentIndex"
      (click)="goToSlide(i)">
    </span>
  </div>
</div>

</section>
<router-outlet></router-outlet>
